.about-page {
  margin: 0;
  background-color: var(--varden-color);

  &__title {
    margin: 0;
    padding-top: 25px;

  }
  &__list {
    padding: 50px 0;
  }
}
.about-page-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @include small-tablet {
    flex-direction: column;
    padding: 0;
  }

  &__image {

    &--rotate-1 {
      transform: rotate(3deg);

      @include small-tablet {
        transform: none;
      }
    }
    &--rotate-2 {
      transform: rotate(-6deg);

      @include small-tablet {
        transform: none;
      }
    }
}
  &__text {
    width: 60%;
    text-align: end;
    font-family: var(--font-family-segoe);
    font-size: 22px;

    @include small-tablet {
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
  }
}
