.about {
  background-color: var(--varden-color);

  &__block {
    display: inline-flex;
    padding: 60px 0;

    @include small-tablet {
      padding: 20px 0;
    }
  }

  .about-images {

    display: flex;
    flex-direction: column;
    align-items: center;

    @include small-tablet {
      display: none;
    }

    &__item {

      img {

        svg {
          width: 140px;
          height: 120px;
        }

      }

      &:not(:last-child) {
        padding-bottom: 25px;
      }
    }


  }
  &__content {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-color);
    background-image: url("../img/protiv.png");
    background-size: 70% 80%;
    background-position: center;
    background-repeat: no-repeat;

    @include small-tablet {
      background-size: 90% 80%;
      background-color: var(--varden-color);
    }
  }
  &__title {
    margin-top: 5%;
    padding: 20px 0;
    font-family: var(--font-family-jost);
    font-size: 28px;
    line-height: 150%;

    @include tablet {
      margin-top: 20px;
      padding: 5px 0;
    }
  }
  &__text {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    font-family: var(--font-family-segoe);
    font-size: 20px;
    line-height: 160%;

    @include tablet {
      margin-bottom: 30px;
      font-size: 18px;
    }
  }
}
