.actions {
  background-image: url("../img/actions-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  @include small-tablet {
    background-image: none;
    background-color: var(--varden-color);
  }

  &__title {
    margin: 0;
    padding: 40px 0;
    font-size: 35px;
    text-shadow: white 2px 3px 4px;

    @include small-tablet {
      padding: 0;
      padding-top: var(--small-offset);
      font-size: 24px;
    }
  }
  &__date {
    margin: 0;
    padding-bottom: var(--main-offset);
    font-family: var(--font-family-segoe);
    font-size: 28px;
    line-height: 150%;
    color: var(--light-color);
    text-shadow: var(--wood-bark-color) 2px 3px 4px;

    @include small-tablet {
      padding: 0;
      padding-bottom: var(--second-offset);
      font-size: 22px;
    }
  }
}

