.admin-order {
  background-color: var(--blue-light-color);
&__block {
  padding-top: var(--main-offset);
  padding-bottom: var(--main-offset);
  }
  &__article {
    grid-column: 3 span;
    border: 2px solid black;
    padding: var(--small-offset);
    background-color: var(--blue-color);

    @include big-desktop {
      grid-column: 4 span;
    }

    @include mini-desktop {
      grid-column: 6 span;
    }
    @include small-tablet {
      grid-column: 12 span;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--small-offset);

    &:not(:last-child) {
      border-bottom: 1px solid gray;
      margin-bottom: var(--small-offset);
    }
}
  &__caption {
    font-family: var(--font-family-tahoma);
    font-size: var(--second-offset);
    color: black;
}
  &__value {
    font-family: var(--font-family-jost);
    font-size: var(--second-offset);
    color: black;
  }
.admin-order__btn {
    padding: 5px var(--small-offset);
    font-size: 18px;
}
}

