.admin-order {
  background-color: var(--blue-light-color);

  &__body {
    gap: 0;
  }

  &__block {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__btn {
    margin-bottom: 10px;
  }


}
.admin-table__grid {
  grid-column: 12 span;
  width: 100%;
}
