.admin-category {
  margin: 0;
  min-height: calc(100vh - 320px);
  background-color: var(--blue-light-color);

  &__block {
    padding-top: var(--main-offset);
    padding-bottom: var(--main-offset);
  }
}
