.admin-menu {
  background-color: var(--blue-light-color);

  &__title {
    margin: 0;
    padding: 50px 0;
  }
}
.admin-menu-nav {
  &__list {
    display: flex;
    padding-bottom: 20px;

    @include small-tablet {
      flex-direction: column;
    }
}

&__item {
  &:not(:last-child) {
    margin-right: 30px;

    @include small-tablet {
      margin: 0;
      margin-bottom: 5px;
    }
  }

}

&__link {
  font-family: var(--font-family-tahoma);
  font-size: 24px;
  color: var(--kashmir-blue-color);
  transition: color 0.3s ease-in-out;

  &--active {
    color: var(--jaffa-color);
    pointer-events: none;
  }

  &:active {
    border: 1px solid var(--royal-blue-color);
    color: var(--jaffa-color);


  }
  &:hover {
    color: var(--royal-blue-color);
  }
  &:focus {
    color: var(--royal-blue-color);
  }
}
}
