.admin-delete {
  padding: 50px 0;
  background-color: var(--blue-light-color);

  &__quest {
    padding-bottom: 20px;
    font-family: var(--font-family-tahoma);
    font-size: 20px;
  }

&__block {
  display: flex;

}
&__item {
  padding-right: 20px;
}
}
