.admin-order {
  background-color: var(--blue-light-color);
&__block {

    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__article {
    grid-column: 3 span;
    border: 2px solid black;
    padding: 10px;
    background-color: var(--blue-color);

    @include big-desktop {
      grid-column: 4 span;
    }

    @include mini-desktop {
      grid-column: 6 span;
    }
    @include small-tablet {
      grid-column: 12 span;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid gray;
      margin-bottom: 10px;
    }



  }
  &__caption {
    font-family: var(--font-family-tahoma);
    font-size: 20px;
    color: black;
  }
  &__value {
    font-family: var(--font-family-jost);
    font-size: 20px;

    color: black;
  }

  .admin-order__btn {
    padding: 5px 10px;
    font-size: 18px;

  }



}

