.admin-product {
  padding-bottom: 30px;
  background-color: var(--blue-light-color);
}
.admin-product-form {
  grid-column: 7 span;
  display: flex;
  flex-direction: column;

  @include big-desktop {
    grid-column: 10 span;
  }

  @include tablet {
    grid-column: 12 span;
  }

&__label {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      flex-direction: column;
    }
    &--title {
      color: var(--mexican-red-color);
    }
  }
  &__caption {
    font-family: var(--font-family-tahoma);
    font-size: var(--second-offset);

    @include small-tablet {
      margin-bottom: var(--small-offset);
    }
  }
  &__select {
    width: 50%;
    height: 52px;
    border: none;
    padding-left: var(--small-offset);
    font-family: var(--font-family-tahoma);
    font-size: var(--second-offset);
    line-height: 160%;
    color: #9a9ca5;

    &:focus{
      outline: 3px solid var(--color-primary);
    }

    @include tablet {
      width: 70%;

    }
    @include small-tablet {
      width: 100%;
    }

  }
  &__input {
    width: 50%;
    height: 52px;
    border: none;
    padding-left: var(--small-offset);
    font-family: var(--font-family-tahoma);
    font-size: var(--second-offset);
    line-height: 160%;
    color: #9a9ca5;

    &:focus{
      outline: 3px solid var(--color-primary);
    }

    @include tablet {
      width: 70%;

    }
    @include small-tablet {
      width: 100%;
    }
  }
  &__textarea {
    width: 50%;
    height: 152px;
    border: none;
    padding-left: var(--small-offset);
    font-size: var(--second-offset);
    line-height: 160%;
    font-family: var(--font-family-tahoma);
    color: #9a9ca5;

    @include tablet {
      width: 70%;

    }
    @include small-tablet {
      width: 100%;
    }
  }
  &__btn {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
  }

}

