.admin-submenu {
  background-color: var(--blue-light-color);


  &__list {
    display: flex;
    padding: 20px 0;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include small-tablet {
        margin: 0;
        margin-bottom: 5px;
      }
    }

  }

  &__link {
    font-family: var(--font-family-tahoma);
    font-size: 24px;
    color: var(--kashmir-blue-color);

    &--active {
      color: var(--jaffa-color);
      pointer-events: none;
    }

    &:active {
      border: 1px solid var(--royal-blue-color);

    }
    &:hover {
      color: var(--royal-blue-color);
    }
    &:focus {
      color: var(--royal-blue-color);
    }
  }
}
