.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: var(--font-family-jost);
  font-size: 20px;
  color: var(--light-color);
  transition: background-color 0.3s ease-in-out;

}
.btn--primary {

  background-color: var(--jaffa-color);

  &:active {

    background-color: var(--jaffa-color-hover);
  }
  &:hover {

    background-color: var(--jaffa-color-hover);
  }
  &:focus {
    background-color: var(--jaffa-color-hover);
  }


}
.btn--danger {
  font-size: 18px;
  background-color: var(--red-color);

  &:active {
    background-color: var(--red-color);
  }
  &:hover {
    background-color: var(--red-color-hover);
  }
  &:focus {
    background-color: var(--red-color-hover);
  }
}
.btn--success {
  background-color: var(--genoa-color);

  &:active {
    background-color: var(--genoa-color);
  }
  &:hover {
    background-color: var(--genoa-color-hover);
  }
  &:focus {
    background-color: var(--genoa-color-hover);
  }
}
