.buy {
  padding: 30px 0;
  background-color: var(--varden-color);

  @include mobile {
    padding: 0;
  }

  &__title {
    margin: 0;
    padding: 40px 0;

    @include mobile {
      padding: 20px 0;
    }

  }
&__image {
  img {
    opacity: 0.7;
  }
}
&__suggestion {
  padding: 20px 0;
}
}



