.menu-cabinet-nav {
  display: flex;
  justify-self: start;
.nav__link {
    font-family: var(--font-family-tahoma);
    font-size: 24px;
    color: var(--kashmir-blue-color);
    transition: color 0.3s ease-in-out;

    @include mobile {
      font-size: 20px;
    }


    &:active {
      border: 1px solid var(--jaffa-color-hover);

    }
    &:hover {
      color: var(--royal-blue-color);
    }
    &:focus {
      color: var(--royal-blue-color);
    }
  }
}
