.menu-cabinet-nav {
  display: flex;
  //justify-self: start;
.nav__link {
    font-family: var(--font-family-tahoma);
    font-size: 24px;
    color: var(--kashmir-blue-color);
    transition: color 0.3s ease-in-out;

    @include mobile {
      font-size: var(--second-offset);
    }


    &:active {
      border: 1px solid var(--jaffa-color-hover);

    }

    @include for-desktop {
      &:hover {
        color: var(--royal-blue-color);
      }
    }

    &:focus {
      color: var(--royal-blue-color);
    }
  }
}
