.cart-navigation {
  background-color: var(--varden-color);
  padding: 50px 0;

  @include small-tablet {
    padding: 20px 0;
  }
  &__list {

    @include small-tablet {
      flex-direction: column;
      justify-content: flex-start;
    }
  }


  &__title {
    @include small-tablet {
      padding: 20px 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      flex-direction: column;
    }
  }
  &__link {

    @include small-tablet {
      padding: 2px 0;
      align-items: flex-start;
    }
  }

  &-link {
    font-family: var(--font-family-tahoma);
    font-size: 24px;
    color: var(--shadow-color);

    &:active {
      border: 1px solid var(--jaffa-color);
      color: var(--jaffa-color);
    }

    @include for-desktop  {
      &:hover {
        color: var(--jaffa-color);
      }
    }

    &:focus {
      color: var(--jaffa-color);
    }
  }
}
