.catalog {
  padding: 50px 0;
  background-color: var( --varden-color);

  @include small-tablet {

    padding: 0;
  }

  &__article {
&:not(:nth-last-child(-n+2)) {
  border-bottom: 2px solid gray;
}
}
}
.catalog-left {
  grid-column: 6 span;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  font-family: var(--font-family-jost);

  @include small-tablet {
    grid-column: 12 span;
    padding: 10px 0;
  }
  &__top {
    margin-top: var(--second-offset);
  }
  &__available {
    font-size: var(--second-offset);
    line-height: 160%;
    color: gray;
  }

  &__value {
    font-weight: bold;
    font-size: var(--second-offset);
    line-height: 160%;
    color: var(--wood-bark-color);
  }
  &__status {
    margin-bottom: var(--second-offset);
    font-size: var(--second-offset);
    line-height: 170%;
  }
}
 .catalog-right {
  margin: 0;
  grid-column: 6 span;
  padding: 50px 0;

  @include small-tablet {
    grid-column: 12 span;
    padding: 0;
  }

  &__name {
    line-height: 150%;
    text-transform: uppercase;
    font-family: var(--font-family-segoe);
    font-size: 28px;
    color: var( --mexican-red-color);

    @include small-tablet {
      font-size: 22px;
    }
  }
  &__weight {
    font-size: var(--second-offset);
    line-height: 150%;
    font-family: var(--font-family-segoe);
    color: var(--wood-bark-color);
  }
  &__slogan {
    font-size: 25px;
    line-height: 150%;
    font-family: var(--font-family-segoe);
    color:var(--shadow-color);

    @include small-tablet {
      display: none;
    }
}
 }
.catalog-right-spread {
  position: relative;
  width: 100%;
  height: 150px;

  @include small-tablet {
    display: none;
  }
  &__item {
    position: absolute;
    padding: 30px 70px;
    font-family: var(--font-family-jost);
    font-size: var(--second-offset);
    color: var(--light-color);

    mask: url("../img/ellipce.svg") no-repeat 50% 50%;
    //background-image: url("../img/ellipce.svg");
    //background-position: center;
    //background-size: contain;
    //-repeat: no-repeat;
    &--one {
      z-index: 3;
      background-color: var(--hot-pink-color);
      top: var(--second-offset);
}
    &--two {
      background-color:var(--bondi-blue-color);
      top: 6px;
      left: 180px;
}
    &--three {
      background-color: var(--celery-color);
      top: 70px;
      left: 92px;
    }
}
}
