.catalog-menu {
  padding: 50px 0;
  background-color: var( --varden-color);

  &__list {
    gap: 0;
}
  &__link {
    font-family: var(--font-family-jost);
    font-size: 24px;
    color: var(--light-color);

    &--active {
      color: var(--jaffa-color);
      pointer-events: none;
    }
}
&__item {
    border-radius: 15px 15px 0 0;
    grid-column: 4 span;
    padding: 45px 0;

    @include small-tablet {
      grid-column: 12 span;
      border-radius: 10px 10px;
      padding: 15px 0;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }



    &--color-1 {
      background-color: var(--apricot-color);
      transition: background-color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &:hover {
        background-color: var(--apricot-color-hover);
      }

      &:active {
        background-color: var(--apricot-color-hover);
      }
    }
    &--color-2 {
      background-color: var(--manz-color);
      transition: background-color 0.3s ease-in-out;
      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &:hover {
        background-color: var(--manz-color-hover);
      }

      &:active {
        background-color: var(--manz-color-hover);
      }
    }
    &--color-3 {
      background-color: var(--porshe-color);
      transition: background-color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &:hover {
        background-color: var(--porshe-color-hover);
      }

      &:active {
        background-color: var(--porshe-color-hover);
      }
    }
  }

}
.catalog-menu-images {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grain-brown-color);
  cursor: pointer;



  @include small-tablet {
    display: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 20px 5px;
    transition: filter 0.3 ease-in-out;

    img {
      filter: brightness(80%);
      transition: filter 0.9s ease-in-out;
      &:hover {
        filter: brightness(100%);
        }
       }




  }
}
.link--active {
  color: var(--jaffa-color);
}
.link--unactive {
  color: var(--kashmir-blue-color);
}
