.delivery {
  background-color: var(--varden-color);

  &__title {
    margin: 0;
    padding: 40px 0;
    font-family: var(--font-family-tahoma);
    font-size: 24px;
    color: var(--shadow-color);
  }


}
.delivery-block {

  &__item {
    grid-column: 3 span;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      grid-column: 4 span;
    }
    @include small-tablet {
      grid-column: 6 span;
    }
    @include mobile {
      grid-column: 12 span;
    }
  }
  &__order {
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--font-family-tahoma);
    font-size: 20px;
    line-height: 150%;
    color: var(--wood-bark-color);
  }
  &__status {
    padding: 1px 30px;
    font-family: var(--font-family-tahoma);
    font-size: 20px;
    line-height: 150%;
    color: var(--light-color);
    background-color: var(--royal-blue-color);

    &--middle {
      background-color: var(--jaffa-color);
    }

    &--end {
      background-color: var(--kashmir-blue-color);
    }
  }
  &__date {
    display: flex;
    align-items: center;
    padding-top: 10px;
    height: 45px;
    font-family: var(--font-family-jost);
    font-size: 18px;
    line-height: 120%;
    color: var(--royal-blue-color);

    &--middle {
      color: var(--jaffa-color);
    }
    &--end {
      color: var(--kashmir-blue-color);
    }
  }
  &__title {
    margin: 0;
    padding-bottom: 20px;
    color: var(--wood-bark-color);
    font-size: 20px;
    line-height: 150%;
  }
  .article__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      padding-bottom: 20px;
    }


    img {
      width: 60%;
    }
  }
}
