.footer {
  padding: 30px 0;
  background-color: var(--mexican-red-color);

  @include small-tablet {
    padding: 15px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include small-tablet {
      flex-direction: column-reverse;
    }
  }

  &__author {
    font-size: 18px;
    font-family: var(--font-family-jost);
    color: var(--light-color);

    @include small-tablet {
      padding-top: 10px;
      font-size: 16px;
    }
  }
}
