.hero {
  margin-top: -85px;
  height: 900px;
  background: url("../img/bg.png");
  color: var(--wood-bark-color);

  @include tablet {
    height: 600px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-top: 24px;

    @include tablet {
      margin-top: 74px;
    }

    img {
      width: 250px;
      height: 211px;

      @include tablet {
        width: 150px;
        height: auto;
      }
    }

  }
  &__title {
    margin-top: 85px;
    font-family: var(--font-family-tahoma-bold);
    font-weight: 700;
    font-size: 50px;
    line-height: 30%;
    text-transform: uppercase;

    @include small-tablet {
      font-size: 35px;
    }
  }
  &__slogan {
    font-family: var(--font-family-tahoma);
    font-size: 35px;
    line-height: 150%;
    text-transform: uppercase;

    @include small-tablet {
      font-size: 25px;
    }
  }
  &__subtitle {
    margin-top: 40px;
    font-family: var(--font-family-tahoma);
    font-size: 20px;
    line-height: 150%;

  }
  &__burger {
    margin-top: 95px;
  }
}
