.logo {
  margin-top: -66px;
  background-color: var(--varden-color);
  color: var(--wood-bark-color);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  
  &__logo {
    margin-top: 24px;

    @include tablet {
      margin-top: 74px;
    }

    img {
      width: 250px;
      height: 211px;

      @include tablet {
        width: 150px;
        height: auto;
      }
    }

  }
  &__burger {
    margin-top: 95px;
  }
}
