.menu {
  position: fixed;
  top: 0px;
  right: -300px;
  z-index: 1000;
  width: 300px;
  height: 100%;
  background-color: var(--mexican-red-color);
  opacity: 0.9;
}
.pulOut {
  right: 0px;
  transition: 600ms;
}
.pulIn {
  right: 300px;
  transition: 600ms;
}
.pulClose {
  right: -300px;
  transition: 600ms;
}
.icon-close {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
  padding: 0 20px;


  svg{
    width: 40px;
    fill: white;
    transition: fill 0.3s ease-in-out;


    &:hover {
      fill: var(--shadow-color);
    }
}
}
  .menu-list {
    line-height: 90px;
    text-align: center;
  }
  .menu-list__item {

    a {
    font-family: var(--font-family-tahoma);
    font-size: 25px;
    color: var(--light-color);
    transition: color 0.8s ease-in-out;

    &:hover {
      color: var(--shadow-color);
    }
  }
}
.menu-accordion {
  padding-top: 30px;

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    cursor: pointer;

  }

  &__subtitle {
    font-family: var(--font-family-tahoma);
    font-size: 25px;
    color: var(--light-color);
    transition: color 0.8s ease-in-out;

    &:hover {
      color: var(--shadow-color);
    }
    &:active {
      color: var(--shadow-color);
    }
    &:focus {
      color: var(--shadow-color);
    }
    @include small-tablet {
      //margin: 10px 0;

    }
  }
  &__li {
    padding: 5px 0;

    a {
      font-family: var(--font-family-tahoma);
      font-size: 22px;
      color: var(--light-color);
      transition: color 0.8s ease-in-out;

      &:hover {
        color: var(--shadow-color);
      }
      &:active {
        color: var(--shadow-color);
      }
      &:focus {
        color: var(--shadow-color);
      }
    }
}
&__item {
  font-family: var(--font-family-jost);
  font-size: 20px;
  line-height: 150%;
  color: var(--wood-bark-color);
    }

    &__content {
      overflow: hidden;
      padding: 20px 0;
      max-height: 0;
      box-sizing: content-box;
      opacity: 0;
      transition: all 0.3s ease-out;
      will-change: max-height;
}
    &__content--max {
      margin-left: 25%;
      max-width: 50%;
      text-align: center;
    }
  }
  .open .menu-accordion__content {
    padding-bottom: var(--small-offset);
    opacity: 1;
}



