.nav {
  position: relative;

  &__list {
    display: flex;
    justify-content: flex-end;

    @include tablet {
      justify-content: space-between;
    }


  }
  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;

      @include small-tablet {
        margin-right: var(--small-offset);
      }
    }


  }
  &__link {
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-jost);
    font-size: 18px;
    color: var(--wood-bark-color);
    svg {
      width: 30px;
      height: 30px;
      fill: var(--wood-bark-color);



    }
    &:active {
      border: 1px solid var(--jaffa-color-hover);

    }
}
&__count {
  opacity: 0;
  display: inline-flex;
  position: absolute;
  right: 10px;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  //text-align: center;
  color: var(--light-color);
  background-color: var(--jaffa-color);
  font-size: 14px;

  @include small-tablet {
    right: 0;
    left: 18px;
    bottom: 5px;
  }


}

&__span {
  @include small-tablet {
    display: none;
  }
}
}
.nav__link {
span {
  transition: color 0.3s ease-in-out;
}
svg {
  transition: fill 0.3s ease-in-out;
}

@include for-desktop {
  &:hover {
    span {

      color: var(--jaffa-color-hover);
    }
    svg {

      fill: var(--jaffa-color-hover);
    }
    .nav__count {
      color: var(--light-color);
    }
  }
}

  &:focus {
    span {
      color: var(--jaffa-color-hover);
    }
    svg {

        fill: var(--jaffa-color-hover);

    }

  }
}
.visible {
  opacity: 1;
}



