.pagination {
  display: flex;
  align-items: center;
  justify-content: center;


  &__item {
    padding: var(--small-offset);
    font-family: var(--font-family-tahoma);
    font-size: 25px;
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;
      //fill:  var(--kashmir-blue-color);
    }
}
}







