.products {
  padding: 40px 0;
  background-color: var(--varden-color);

  @include small-tablet {
    padding: 0;
    padding-top: 30px;
  }
&__item {
  grid-column: 4 span;

  @include small-tablet {
    grid-column: 12 span;
  }
}
&__image {
  display: inline-block;
  text-align: center;
  img {
    filter: brightness(80%);
    transition: filter 0.9s ease-in-out;
    &:hover {
     filter: brightness(100%);
      }
     }
     @include small-tablet {
      display: none;
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: var(--font-family-jost);
    font-size: 24px;
    line-height: 50%;
    text-transform: uppercase;
    color: var(--wood-bark-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:focus {
      color: var(--jaffa-color-hover);
    }

    @include hover {
      background-color: var(--jaffa-color-hover);
      color: white;
    }
    &:active {
      color: var(--active-color);
    }


    @include small-tablet {
      margin: 0;
      width: 100%;
      border-radius: 4px;
      padding: var(--second-offset);
      text-align: center;
      background-color: var(--apricot-color);
      transition: background-color color 0.3s ease-in-out ;


    }
  }
  &__slogan {
    margin-bottom: var(--second-offset);
    width: 70%;
    font-family: var(--font-family-segoe);
    font-size: 24px;
    line-height: 150%;
    color: var(--wood-bark-color);

    @include mini-desktop {
      font-size: 20px;
    }

    @include tablet {
      width: 90%;
      font-size: 20px;
      line-height: 100%;
    }

    @include small-tablet {
      display: none;
    }
  }
  &__wrap {
    @include small-tablet {
      display: none;
    }
  }

}
