.products {
  padding: 40px 0;
  background-color: var(--varden-color);

  @include small-tablet {
    padding: 0;
    padding-top: 30px;
  }
&__item {
  grid-column: 4 span;



  @include small-tablet {
    grid-column: 12 span;
  }
}
&__image {
  display: inline-block;
  text-align: center;
  img {
    filter: brightness(80%);
    transition: filter 0.9s ease-in-out;
    &:hover {
      //transform: rotate(5deg);
      filter: brightness(100%);
      }
     }
     @include small-tablet {
      display: none;
    }



}
&__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  &__title {
    font-family: var(--font-family-jost);
    font-size: 24px;
    line-height: 50%;
    text-transform: uppercase;
    color: var(--wood-bark-color);
    transition: color 0.3s ease-in-out;

    &:active {
      border: 1px solid var(--jaffa-color-hover);
    }
    &:hover {
      color: var(--jaffa-color-hover);
    }
    &:focus {
      color: var(--jaffa-color-hover);
    }
    @include small-tablet {
      margin: 0;
      width: 100%;
      //border: 1 px solid var(--apricot-color);
      border-radius: 4px;
      padding: 20px;
      text-align: center;
      background-color: var(--apricot-color);
      transition: background-color color 0.3s ease-in-out ;

      &:active {
        background-color: var(--jaffa-color-hover);
        color: var(--light-color);

      }
      &:hover {
        background-color: var(--jaffa-color-hover);
        color: var(--light-color);
      }
      &:focus {
        background-color: var(--jaffa-color-hover);
        color: var(--light-color);
      }
    }
  }
  &__slogan {
    margin-bottom: 20px;
    width: 70%;
    font-family: var(--font-family-segoe);
    font-size: 24px;
    line-height: 150%;
    color: var(--wood-bark-color);

    @include tablet {
      width: 90%;
      font-size: 20px;
      line-height: 100%;
    }

    @include small-tablet {
      display: none;
    }
  }
  &__wrap {
    @include small-tablet {
      display: none;
    }
  }

}
