<section class="admin-product">
  <div class="container-fluid">
    <h2 class="admin__title admin__title--active subtitle">Редактирование товара</h2>
    <form action="#" class="admin-product-form">
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Категория</span>
        <select name="category_id" class="admin-product-form__select">
          <option value="черный хлеб" name="">черный хлеб</option>
          <option value="черный хлеб" name="">пирожные</option>
          <option value="черный хлеб" name="">белая выпечка</option>
        </select></label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Название товара</span>
        <input type="text" class="admin-product-form__input" value="Ситный хлеб">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Стоимость</span>
        <input type="text" class="admin-product-form__input" value="36 ₽">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Вес</span>
        <input type="text" class="admin-product-form__input" value="500 г">
      </label>
      <label class="admin-product-form__label admin-product-form__label--title">
        <span class="admin-product-form__caption">Описание</span>
        <textarea type="text" class="admin-product-form__textarea">Это хлебные изделия продолговатой формы с надрезами на поверхнос
          ти. Батоны нарезные готовят из пшеничной муки высшего или 1-го сорта с добавлением в тесто сахара и маргарина, по 500 г муки высшего сорта
        </textarea>
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Ингредиент 1</span>
        <input type="text" class="admin-product-form__input" value="Ингредиент 1">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Ингредиент 2</span>
        <input type="text" class="admin-product-form__input" value="Ингредиент 2">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Ингредиент 3</span>
        <input type="text" class="admin-product-form__input" value="Ингредиент 3">
      </label>
      <label class="admin-product-form__label admin-product-form__label--title">
        <span class="admin-product-form__caption">Слоган</span>
        <input type="text" class="admin-product-form__input" value="Слоган">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Топпинг 1</span>
        <input type="text" class="admin-product-form__input" value="Топпинг 1">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Топпинг 2</span>
        <input type="text" class="admin-product-form__input" value="Топпинг 2">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Топпинг 3</span>
        <input type="text" class="admin-product-form__input" value="Топпинг 3">
      </label>
      <label class="admin-product-form__label admin-product-form__label--title">
        <span class="admin-product-form__caption">Статус</span>
        <select name="category_id" class="admin-product-form__select">
          <option value="черный хлеб" name="">Бестселлер</option>
          <option value="черный хлеб" name="">Уже в продаже</option>
          <option value="черный хлеб" name="">Новинка!</option>
          <option value="черный хлеб" name="">Выгодно</option>
        </select>
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Наличие</span>
        <select name="nal" class="admin-product-form__select">
          <option value="В наличии">В наличии</option>
          <option value="Нет">Нет</option>
        </select>
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Слайдер</span>
        <select name="recommendation" class="admin-product-form__select">
          <option value="1">Да</option>
          <option value="0">Нет</option>
        </select>
      </label>
      <label class="admin-product-form__label">
        <div class="admin-product-form__caption">Изображение товара</div>
        <input type="file" name="new_picture" placeholder="" value="">
      </label>
      <div class="admin-product-form__btn">
        <button class="btn btn-reset btn--success">Сохранить изменения
        </button>
      </div>
    </form>
  </div>
</section>
