<section class="admin-submenu">
  <div class="container-fluid">
    <h2 class="admin-submenu__title"><a href="">Добавить новый товар</a></h2>
    <ul class="admin-submenu__list list-reset">
      <li class="admin-submenu__item">
        <a href="#" class="admin-submenu__link admin-submenu__link--active">Пирожные</a>
      </li>
      <li class="admin-submenu__item">
        <a href="#" class="admin-submenu__link">Черный хлеб</a>
      </li>
      <li class="admin-submenu__item">
        <a href="#" class="admin-submenu__link">Белая выпечка</a>
      </li>
    </ul>
  </div>
</section>
