<section class="admin-order">admin-order
  <div class="container-fluid admin-order__container">
    <div class="admin-order__block">
      <table class="admin-order__table">
        <tbody class="admin-order__body">
          <tr class="admin-order__tr">
            <th class="admin-order__th">Id заказа</th>
            <th class="admin-order__th">Имя покупателя</th>
            <th class="admin-order__th">Телефон</th>
            <th class="admin-order__th">Дата оформления</th>
            <th class="admin-order__th">Статус</th>
          <tr class="aadmin-order__tr">
            <td class="admin-order__td">23</td>
            <td class="admin-order__td">Котобус</td>
            <td class="admin-order__td">8(505)44044</td>
            <td class="admin-order__td">2044-10-43</td>
            <td class="admin-order__td">В обработке</td>
            <td class="admin-order__td admin-order__td--order">
              <button class="admin-order__btn admin-order__btn btn--success btn btn-reset">выполнить</button>
              <button class="admin-order__btn admin-order__btn btn btn-reset btn--danger">отменить</button></td>

          <tr class="aadmin-order__tr">

            <td class="admin-order__td">23</td>
            <td class="admin-order__td">Котобус</td>
            <td class="admin-order__td">8(505)44044</td>
            <td class="admin-order__td">2044-10-43</td>
            <td class="admin-order__td">В обработке</td>
            <td class="admin-order__td">
              <button class="admin-order__btn admin-order__btn btn--success btn btn-reset">выполнить</button>
              <button class="admin-order__btn admin-order__btn btn btn-reset btn--danger">отменить</button></td>
          <tr class="admin-order__tr">
        </tbody>

      </table>
    </div>
  </div>
</section>
