<section class="admin-menu">
  <div class="container-fluid">
    <h1 class="admin-menu__title title">Вы вошли в АдминПанель как Котобус</h1>
    <nav class="admin-menu-nav" title="menu-admin">
      <ul class="admin-menu-nav__list list-reset">
        <li class="admin-menu-nav__item"><a href="#" class="admin-menu-nav__link">Управление товарами</a></li>
        <li class="admin-menu-nav__item"><a href="#" class="admin-menu-nav__link admin-menu-nav__link--active">Управление категориями</a></li>
        <li class="admin-menu-nav__item"><a href="#" class="admin-menu-nav__link">Управление заказами</a></li>

      </ul>
    </nav>
  </div>
</section>
