<section class="admin-category-create admin-category">
  <div class="container-fluid">
    <h2 class="admin__title admin__title--active subtitle">Добавление категории</h2>
    <form action="#" class="admin-product-form">
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Наименование</span>
        <input type="text" class="admin-product-form__input" value="">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Sort-order</span>
        <input type="text" class="admin-product-form__input" value="">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Status</span>
        <input type="text" class="admin-product-form__input" value="">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Style-1</span>
        <input type="text" class="admin-product-form__input" value="">
      </label>
      <label class="admin-product-form__label">
        <span class="admin-product-form__caption">Style-2</span>
        <input type="text" class="admin-product-form__input" value="">
      </label>
      <div class="admin-product-form__btn">
        <button class="btn btn-reset btn--success">Сохранить
        </button>
      </div>
    </form>
  </div>
</section>
