<section class="admin-header">
  <div class="container-fluid">
    <nav class="admin-nav admin-header__nav" title="">
      <ul class="admin-nav__list admin-header__list list-reset">
        <li class="admin-nav__item">
          <a href="#" class="admin-nav__link">
            <svg>
              <use xlink:href="img/sprite.svg#admin-face"></use>
            </svg>
          <span>АдминПанель</span>
        </a></li>
        <li class="admin-nav__item"><a href="#" class="admin-nav__link">
          <svg>
            <use xlink:href="img/sprite.svg#to-site"></use>
          </svg>
          <span>Котобус</span></a></li>
        <li class="admin-nav__item"><a href="#" class="admin-nav__link">
          <svg>
            <use xlink:href="img/sprite.svg#admin"></use>
          </svg>
          <span>На сайт</span></a></li>

      </ul>
    </nav>
  </div>
</section>
