<section class="admin-category">
  <div class="container-fluid admin-category__container">
    <h2 class="admin__title subtitle"><a href="">Добавить новую категорию</a></h2>
    <div class="admin-category__block">
      <table class="admin-table">
        <tr class="admin-table__tr">
          <th class="admin-table__th">Id</th>
          <th class="admin-table__th">Название категории</th>
          <th class="admin-table__th">Действие</th>
        <tr class="admin-table__tr">
          <td class="admin-table__td">23</td>
          <td class="admin-table__td capitalize">Черный хлеб</td>
          <td class="admin-table__td"><a href="" class="admin-table__link admin-table__link--danger">удалить</a>
            / <a href="" class="admin-table__link--active"> редактировать</a></td>
        <tr class="admin-table__tr">
          <td class="admin-table__td">23</td>
          <td class="admin-table__td">Черный хлеб</td>
          <td class="admin-table__td"><a href="" class="admin-table__link admin-table__link--danger">удалить</a>
            / <a href="" class="admin-table__link--active"> редактировать</a></td>
        <tr class="admin-table__tr">
          <td class="admin-table__td">23</td>
          <td class="admin-table__td">Черный хлеб</td>
          <td class="admin-table__td"><a href="" class="admin-table__link admin-table__link--danger">удалить</a>
            / <a href="" class="admin-table__link--active"> редактировать</a></td>
        <tr class="admin-table__tr">
      </table>
    </div>
  </div>
</section>
