<section class="admin-product">
  <div class="container-fluid grid">
    <form action="#" class="admin-product-form">

        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Категория</span>
        <select name="category_id" class="admin-product-form__select">
          <option value="черный хлеб" name="">черный хлеб</option>
          <option value="черный хлеб" name="">черный хлеб</option>
        </select></label>



        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Название товара</span>
        <input type="text" class="admin-product-form__input">
      </label>


        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Стоимость</span>
      <input type="text" class="admin-product-form__input">
    </label>


        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Вес</span>
      <input type="text" class="admin-product-form__input">
    </label>


        <label class="admin-product-form__label admin-product-form__label--title">
          <span class="admin-product-form__caption">Описание</span>
        <textarea type="text" class="admin-product-form__textarea"></textarea>
      </label>


        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Ингредиент 1</span>
<input type="text" class="admin-product-form__input">
      </label>


        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Ингредиент 2</span>
      <input type="text" class="admin-product-form__input">
    </label>


        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Ингредиент 3</span>
      <input type="text" class="admin-product-form__input">
    </label>


        <label class="admin-product-form__label admin-product-form__label--title">
          <span class="admin-product-form__caption">Слоган</span>
        <input type="text" class="admin-product-form__input">
      </label>


        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Топпинг 1</span>
        <input type="text" class="admin-product-form__input">
      </label>


        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Топпинг 2</span>
                <input type="text" class="admin-product-form__input">
    </label>


        <label class="admin-product-form__label">
          <span class="admin-product-form__caption">Топпинг 3</span>
        <input type="text" class="admin-product-form__input">
      </label>


        <label class="admin-product-form__label admin-product-form__label--title">
          <span class="admin-product-form__caption">Статус</span>
        <select name="category_id" class="admin-product-form__select">
          <option value="черный хлеб" name="">бестселлер</option>
          <option value="черный хлеб" name="">уже в продаже</option>
        </select>
      </label>

      <div class="admin-product-radio">
        <span class="admin-product-form__caption">Наличие</span>
        <legend class="admin-product-radio__legend">
          <input type="radio" id="huey" name="drone" class="admin-product-radio__input" value="huey" checked>
            <label class="admin-product-radio__label">В наличии</label>
            <input type="radio" id="dewey" class="admin-product-radio__input" name="drone" value="dewey">
            <label class="admin-product-radio__label">Нет</label>
          </legend>
      </div>
       <div class="admin-product-radio">
      <span class="admin-product-form__caption">Слайдер</span>
      <legend class="admin-product-radio__legend">
        <input type="radio" id="huey" name="drone" class="admin-product-radio__input" value="huey" checked>
          <label class="admin-product-radio__label">true</label>
          <input type="radio" id="dewey" class="admin-product-radio__input" name="drone" value="dewey">
          <label class="admin-product-radio__label">false</label>
        </legend>
    </div>




    </form>
  </div>
</section>
