<section class="admin-order">
  <div class="container-fluid admin-order__container">
    <div class="admin-order__block">
      <table class="admin-table">
        <tr class="admin-table__tr">
          <th class="admin-table__th">Id заказа</th>
          <th class="admin-table__th">Имя покупателя</th>
          <th class="admin-table__th">Телефон</th>
          <th class="admin-table__th">Дата оформления</th>
          <th class="admin-table__th">Статус</th>
        <tr class="admin-table__tr">
          <td class="admin-table__td">23</td>
          <td class="admin-table__td">Котобус</td>
          <td class="admin-table__td">8(505)44044</td>
          <td class="admin-table__td">2044-10-43</td>
          <td class="admin-table__td">В обработке</td>
          <td class="admin-table__td admin-table__td--order">
            <button class="admin-order__btn admin-table__btn btn--success btn btn-reset">выполнить</button>
            <button class="admin-order__btn admin-table__btn btn btn-reset btn--danger">отменить</button></td>

        <tr class="admin-table__tr">

          <td class="admin-table__td">23</td>
          <td class="admin-table__td">Котобус</td>
          <td class="admin-table__td">8(505)44044</td>
          <td class="admin-table__td">2044-10-43</td>
          <td class="admin-table__td">В обработке</td>
          <td class="admin-table__td">
            <button class="admin-order__btn admin-table__btn btn--success btn btn-reset">выполнить</button>
            <button class="admin-order__btn admin-table__btn btn btn-reset btn--danger">отменить</button></td>
        <tr class="admin-table__tr">
      </table>
    </div>
  </div>
</section>
