<section class="buy">
  <div class="container">
    <h2 class="buy__title subtitle centered">Покупки</h2>
    <div class="cart-products__blok">
      <ul class="cart-products__list list-reset grid">
        <li class="cart-products__item">
          <h3 class="cart-products__title message">Заказ N 3456</h3>
          <div class="cart-products__date cart-products__date--end">25.04.2024</div>
          <article>
            <div class="cart-products__name mini-title">Бородинский хлебушок</div>
          <div class="cart-products__image buy__image"><img src="img/bread.png" alt=""></div>
          </article>

        </li>
        <li class="cart-products__item">
          <h3 class="cart-products__title message">Заказ N 3456</h3>
            <div class="cart-products__date cart-products__date--end">25.04.2024</div>
          <article>
            <div class="cart-products__name mini-title">Бородинский хлеб</div>
            <div class="cart-products__image buy__image"><img src="img/bread.png" alt=""></div>
          </article>
          <article>
            <div class="cart-products__name mini-title">Бородинский хлеб</div>
            <div class="cart-products__image buy__image"><img src="img/bread.png" alt=""></div>
          </article>

        </li>
      </ul>
    </div>
    <div class="buy__blok">
      <h2 class="buy__title subtitle centered">Покупки</h2>
      <h3 class="buy__message message">Вы еще не совершили покупки</h3>
      <div class="buy__suggestion suggestion">
        <a href="">
          <span class="">В магазин</span>
          <svg>
            <use xlink:href="img/sprite.svg#ahead"></use>
          </svg>

        </a>
      </div>

    </div>
  </div>
</section>
