<section class="buy">
  <div class="container">
    <h2 class="buy__title centered">Покупки</h2>
    <div class="buy-block">
      <ul class="buy-block__list list-reset grid">
        <li class="buy-block__item">
          <h3 class="buy-block__order">Заказ №3</h3>

          <div class="buy-block__status">Получено</div>
          <article class="buy-block__article">
            <div class="article__item">
              <h4 class="buy-block__title">Бородинский хлеб</h4>
              <div class="buy-block__image">
                <img src="img/catalog-1.png" alt="">
              </div>
              <div class="article__item">
                <h4 class="buy-block__title">Александровский хлеб</h4>
                <div class="buy-block__image">
                  <img src="img/catalog-2.png" alt="">
                </div>
              </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
