<section class="cart-empty">
<div class="container cart-empty__container">
  <h2 class="message cart-empty__title">Ваша корзина пуста</h2>
  <h3 class="cart-empty__subtitle subtitle centered">Рекомендуем</h3>

</div>
<div class="cart-slider container-fluid">
  <div class="swiper cartSlider">
    <div class="swiper-wrapper">

      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-1.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#"><a href="#">Чайный кекс</a></a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image"><img src="img/bread.png" alt=""></div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-2.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-3.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status hot-pink-color">выгодно</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">

        <img src="img/product-4.png" alt=""></div>
        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status genoa-color">уже в продаже</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
        <img src="img/product-5.png" alt=""></div>
        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status royal-blue-color">новинка!</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-6.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-7.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-12.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-8.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-9.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-10.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="swiper-slide cart-slider__slide">
        <div class="cart-slider__image">
          <img src="img/product-11.png" alt="">
        </div>

        <div class="cart-slider__price">45 P</div>
        <span class="cart-slider__status jaffa-color">bestseller</span>
        <h3 class=" cart-slider__title"><a href="#">Чайный кекс</a></h3>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
</section>
