<section class="cart-navigation">
  <div class="container">
    <h1 class="cart-navigation__title title">Корзина</h1>
    <div class="cart-navigation__content">
      <a href="#" class="cart-navigation-link">Перейти в каталог</a>
      <nav class="menu-cabinet-nav" title="menu-cart">
        <ul class="nav__list cart-navigation__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link cart-navigation__link">Пирожные</a></li>
          <li class="nav__item"><a href="#" class="nav__link cart-navigation__link">Белая выпечка</a></li>
          <li class="nav__item"><a href="#" class="nav__link cart-navigation__link">Черный хлеб</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
