<section class="cart-content">
  <div class="container cart-content__container">
    <div class="cart-content__products">
      <article class="cart-content__article grid">
        <div class="cart-content-left">

          <div class="cart-content-left__image">
            <img src="img/catalog-1.png" alt="">
          </div>
          </div>
        <div class="cart-content-right">
          <h3 class="cart-content-right__name message">Бородинский хлеб</h3>
          <span class="cart-content-right__weight">700 gramm</span>
          <div class="cart-content-right__quant">Количество: <span>2</span>
          </div>
          <div class="cart-content-right__value">124 P</div>
  <button class="btn btn-reset btn--danger">удалить</button>
        </div>
      </article>
      <article class="cart-content__article grid">
        <div class="cart-content-left">

          <div class="cart-content-left__image">
            <img src="img/catalog-1.png" alt="">
          </div>
          </div>
        <div class="cart-content-right">
          <h3 class="cart-content-right__name message">Бородинский хлеб</h3>
          <span class="cart-content-right__weight">700 gramm</span>
          <div class="cart-content-right__quant">Количество: <span>2</span>
          </div>
          <div class="cart-content-right__value">124 P</div>
  <button class="btn btn-reset btn--danger">удалить</button>
        </div>
      </article>
    </div>

    <div class="cart-content-result">
    <div class="cart-content-result__content">
      <div class="cart-content-result__quant">Количество товаров
        <strong class="cart-content-result__value">10</strong>
      </div>
      <div class="cart-content-result__summ">К оплате
        <strong class="cart-content-result__value">1000 P</strong>
      </div>
      <div class="cart-content-result__btn">
        <button class="btn btn-reset btn--success">Оформить заказ
        </button>
      </div>

    </div>
  </div>
  </div>
</section>
