<section class="cart-checkout">
  <div class="container">
    <div class="cart-checkout__title">
      <h2 class="cart-checkout__subtitle subtitle">Выбрано товаров <span class="cart-checkout__span"> 3</span> на сумму
        <span class="cart-checkout__span">300 P</span></h2>
    </div>
    <div class="cart-products__blok">

      <ul class="cart-products__list list-reset grid">
        <li class="cart-products__item">
          <div class="cart-products__image"><img src="img/bread.png" alt=""></div>
          <div class="cart-products__name mini-title">Бородинский хлебушок</div>
        </li>
        <li class="cart-products__item">
          <div class="cart-products__image"><img src="img/bread.png" alt=""></div>
          <div class="cart-products__name mini-title">Бородинский хлебушок</div>
        </li>
        <li class="cart-products__item">
          <div class="cart-products__image"><img src="img/catalog-1.png" alt=""></div>
          <div class="cart-products__name mini-title">Бородинский хлебушок</div>
        </li>
      </ul>
    </div>
    <h2 class="cart-checkout__subtitle subtitle">Для оформления заказа заполните форму</h2>
    <form action="#" class="main-form">
      <label class="main-form__label main-form__label--title">
        <span class="main-form__caption">Ваше имя*</span>
        <input type="text" class="main-form__input">
      </label>
      <label class="main-form__label main-form__label--title">
        <span class="main-form__caption">Ваш Телефон*</span>
        <input type="text" class="main-form__input">
      </label>
      <label class="main-form__label">
        <span class="main-form__caption">Комментарий</span>
        <textarea type="text" class="main-form__textarea"></textarea>
      </label>
      <div class="main-form__send">
        <input type="submit" name="submit" value="Сохранить" class="btn btn--primary btn-reset">
      </div>
    </form>
  </div>
</section>
