<section class="cart-empty">
<div class="container cart-empty__container">
  <h2 class="cart-empty__title centered">Рекомендуем</h2>
  <div class="cart-slider">
    <div class="swiper cartSlider">
      <div class="swiper-wrapper">
        <div class="swiper-slide cart-slider__slide">
          <img src="img/upload/catalog-1.png" alt="">
          <div class="cart-slider__price">45 P</div>
          <span class="cart-slider__status">bestseller</span>
          <h3 class=" cart-slider__title">Чайный кекс</h3>
          <button class="btn btn-reset btn--primary">В корзину</button>
        </div>
        <div class="swiper-slide cart-slider__slide">
          <img src="img/upload/catalog-2.png" alt="">
          <div class="cart-slider__price">45 P</div>
          <span class="cart-slider__status">bestseller</span>
          <h3 class=" cart-slider__title">Чайный кекс</h3>
          <button class="btn btn-reset btn--primary">В корзину</button>
        </div>
        <div class="swiper-slide cart-slider__slide">
          <img src="img/upload/catalog-3.png" alt="">
          <div class="cart-slider__price">45 P</div>
          <span class="cart-slider__status">bestseller</span>
          <h3 class=" cart-slider__title">Чайный кекс</h3>
          <button class="btn btn-reset btn--primary">В корзину</button>
        </div>
        <div class="swiper-slide cart-slider__slide">
          <img src="img/upload/catalog-1.png" alt="">
          <div class="cart-slider__price">45 P</div>
          <span class="cart-slider__status">bestseller</span>
          <h3 class=" cart-slider__title">Чайный кекс</h3>
          <button class="btn btn-reset btn--primary">В корзину</button>
        </div>
        <div class="swiper-slide cart-slider__slide">
          <img src="img/upload/catalog-5.png" alt="">
          <div class="cart-slider__price">45 P</div>
          <span class="cart-slider__status">bestseller</span>
          <h3 class=" cart-slider__title">Чайный кекс</h3>
          <button class="btn btn-reset btn--primary">В корзину</button>
        </div>
        <div class="swiper-slide cart-slider__slide">
          <img src="img/upload/catalog-6.png" alt="">
          <div class="cart-slider__price">45 P</div>
          <span class="cart-slider__status">bestseller</span>
          <h3 class=" cart-slider__title">Чайный кекс</h3>
          <button class="btn btn-reset btn--primary">В корзину</button>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
</section>
