<section class="catalog-menu">
  <div class="container catalog-menu__container">
    <div class="catalog-menu__top">
      <ul class="catalog-menu__list list-reset grid">
        <li class="catalog-menu__item catalog-menu__item--color-1 centered">
          <a href="" class="catalog-menu__link">пирожные</a>
        </li>
        <li class="catalog-menu__item catalog-menu__item--color-2 centered">
          <a href="" class="catalog-menu__link catalog-menu__link--active">белая выпечка</a>
        </li>
        <li class="catalog-menu__item catalog-menu__item--color-3 centered">
          <a href="" class="catalog-menu__link">черный хлеб</a>
        </li>
      </ul>
    </div>
    <div class="catalog-menu-images">
      <a href="" class="catalog-menu-images__item centered"><img src="img/catalog-menu-1.png" alt="bread"></a>
      <a href="" class="catalog-menu-images__item centered"><img src="img/catalog-menu-2.png" alt="cake"></a>
      <a href="" class="catalog-menu-images__item centered"><img src="img/catalog-menu-3.png" alt="loaf"></a>
    </div>
  </div>
</section>
