<section class="catalog">
  <div class="container catalog__container">
    <article class="catalog__article grid">
      <div class="catalog-left">
        <div class="catalog-left__image">
          <img src="img/catalog-1.png" alt="">
        </div>
        <div class="catalog-left__top">
          <span class="catalog-left__available">в наличии</span>
          <strong class="catalog-left__value">100 P</strong>
        </div>
        <span class="catalog-left__status royal-blue-color">новинка!</span>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="catalog-right">
        <h2 class="catalog-right__name">Бородинский хлеб</h2>
        <span class="catalog-right__weight">700 gramm</span>
        <div class="catalog-accordion" data-simplebar="init">
          <ul class="catalog-accordion__list list-reset">
            <li class="catalog-accordion__item">
              <button class="btn-reset catalog-accordion__control" aria-expanded="false">
                <h3 class="catalog-accordion__subtitle subtitle">Описание</h3>
                <span class="catalog-accordion__icon"></span>
              </button>
              <div class="catalog-accordion__content" aria-hidden="true">
                <p class="catalog-accordion__descr">
                  хлеб, приготовленный заварным способом из&nbsp;смеси ржаной обойной муки, пшеничной хлебопекарной муки
                  II&nbsp;сорта и&nbsp;красного ржаного ферментированного солода, с&nbsp;добавлением соли, сахара,
                  патоки и&nbsp;кориандра, тмина или аниса.
                </p>
              </div>
            </li>
            <li class="catalog-accordion__item">
              <button class="btn-reset catalog-accordion__control" aria-expanded="false">
                <h3 class="catalog-accordion__subtitle subtitle">Oсновные ингредиенты</h3>
                <span class="catalog-accordion__icon"></span>
              </button>
              <ul class="catalog-accordion__content list-reset" aria-hidden="true">
                <li class="catalog-accordion__item">пшеничная мука высшего сорта</li>
                <li class="catalog-accordion__item">маргарин</li>
                <li class="catalog-accordion__item">сахар</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="catalog-right__slogan">Выбирай спред!</div>
        <div class="catalog-right-spread">
          <div class="catalog-right-spread__item catalog-right-spread__item--one">малиновая</br> пропитка</div>
          <div class="catalog-right-spread__item catalog-right-spread__item--two">ромовый </br>душ</div>
          <div class="catalog-right-spread__item catalog-right-spread__item--three">вишневое </br>спа</div>
        </div>
      </div>
    </article>
    <article class="catalog__article grid">
      <div class="catalog-left">
        <div class="catalog-left__image">
          <img src="img/catalog-1.png" alt="">
        </div>
        <div class="catalog-left__top">
          <span class="catalog-left__available">в наличии</span>
          <strong class="catalog-left__value">100 P</strong>
        </div>
        <span class="catalog-left__status genoa-color">уже в продаже</span>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="catalog-right">
        <h2 class="catalog-right__name">Бородинский хлеб</h2>
        <span class="catalog-right__weight">700 gramm</span>
        <div class="catalog-accordion" data-simplebar="init">
          <ul class="catalog-accordion__list list-reset">
            <li class="catalog-accordion__item">
              <button class="btn-reset catalog-accordion__control" aria-expanded="false">
                <h3 class="catalog-accordion__subtitle subtitle">Описание</h3>
                <span class="catalog-accordion__icon"></span>
              </button>
              <div class="catalog-accordion__content" aria-hidden="true">
                <p class="catalog-accordion__descr">
                  хлеб, приготовленный заварным способом из&nbsp;смеси ржаной обойной муки, пшеничной хлебопекарной муки
                  II&nbsp;сорта и&nbsp;красного ржаного ферментированного солода, с&nbsp;добавлением соли, сахара,
                  патоки и&nbsp;кориандра, тмина или аниса.
                </p>
              </div>
            </li>
            <li class="catalog-accordion__item">
              <button class="btn-reset catalog-accordion__control" aria-expanded="false">
                <h3 class="catalog-accordion__subtitle subtitle">Oсновные ингредиенты</h3>
                <span class="catalog-accordion__icon"></span>
              </button>
              <ul class="catalog-accordion__content list-reset" aria-hidden="true">
                <li class="catalog-accordion__item">пшеничная мука высшего сорта</li>
                <li class="catalog-accordion__item">маргарин</li>
                <li class="catalog-accordion__item">сахар</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="catalog-right__slogan">Выбирай спред!</div>
        <div class="catalog-right-spread">
          <div class="catalog-right-spread__item catalog-right-spread__item--one">малиновая</br> пропитка</div>
          <div class="catalog-right-spread__item catalog-right-spread__item--two">ромовый </br>душ</div>
          <div class="catalog-right-spread__item catalog-right-spread__item--three">вишневое </br>спа</div>
        </div>
      </div>
    </article>
    <article class="catalog__article grid">
      <div class="catalog-left">
        <div class="catalog-left__image">
          <img src="img/catalog-1.png" alt="">
        </div>
        <div class="catalog-left__top">
          <span class="catalog-left__available">в наличии</span>
          <strong class="catalog-left__value">100 P</strong>
        </div>
        <span class="catalog-left__status jaffa-color">bestseller</span>
        <button class="btn btn-reset btn--primary">В корзину</button>
      </div>
      <div class="catalog-right">
        <h2 class="catalog-right__name">Бородинский хлеб</h2>
        <span class="catalog-right__weight">700 gramm</span>
        <div class="catalog-accordion" data-simplebar="init">
          <ul class="catalog-accordion__list list-reset">
            <li class="catalog-accordion__item">
              <button class="btn-reset catalog-accordion__control">
                <h3 class="catalog-accordion__subtitle subtitle">Описание</h3>
                <span class="catalog-accordion__icon"></span>
              </button>
              <div class="catalog-accordion__content" aria-hidden="true">
                <p class="catalog-accordion__descr">
                  хлеб, приготовленный заварным способом из&nbsp;смеси ржаной обойной муки, пшеничной хлебопекарной муки
                  II&nbsp;сорта и&nbsp;красного ржаного ферментированного солода, с&nbsp;добавлением соли, сахара,
                  патоки и&nbsp;кориандра, тмина или аниса.
                </p>
              </div>
            </li>
            <li class="catalog-accordion__item">
              <button class="btn-reset catalog-accordion__control">
                <h3 class="catalog-accordion__subtitle subtitle">Oсновные ингредиенты</h3>
                <span class="catalog-accordion__icon"></span>
              </button>
              <ul class="catalog-accordion__content list-reset" aria-hidden="true">
                <li class="catalog-accordion__item">пшеничная мука высшего сорта</li>
                <li class="catalog-accordion__item">маргарин</li>
                <li class="catalog-accordion__item">сахар</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="catalog-right__slogan">Выбирай спред!</div>
        <div class="catalog-right-spread">
          <div class="catalog-right-spread__item catalog-right-spread__item--one">масло</div>
          <div class="catalog-right-spread__item catalog-right-spread__item--two">варенье</div>
          <div class="catalog-right-spread__item catalog-right-spread__item--three">джем</div>
        </div>
      </div>
    </article>
    <ul class="pagination list-reset">
      <li class="pagination__item  link--active"><a href="">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-back"></use>
          </svg>
        </a></li>
      <li class="pagination__item  link--active"><a href="#">1</a>
      </li>
      <li class="pagination__item link--unactive"><a href="#">2</a>
      </li>
      <li class="pagination__item link--unactive"><a href="#">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-ahead"></use>
          </svg>
        </a></li>
    </ul>
  </div>
</section>
