<section class="checkout-page">
  <div class="container">
    <div class="checkout-page__title">
      <h2 class="cart__subtitle">Выбрано товаров <span class="checkout-page__span"> 3</span> на сумму  <span  class="checkout-page__span">300 P</span></h2>
    </div>

   <div class="checkout-page__images grid">
<ul class="checkout-page__list list-reset">
  <li class="checkout-page__item">
    <img src="img/catalog-1.png" alt="order">
  </li>
  <li class="checkout-page__item">
   <a href="" class="checkout-page__link">Батон</a>
  </li>
</ul>
<ul class="checkout-page__list list-reset">
  <li class="checkout-page__item">
    <img src="img/catalog-1.png" alt="order">
  </li>
  <li class="checkout-page__item">
   <a href="" class="checkout-page__link">Батон</a>
  </li>
</ul>
   </div>
   <h2 class="cart__subtitle">Для оформления заказа заполните форму</h2>
   <div class="grid">
    <form action="#" class="main-form">
      <label class="main-form__label main-form__label--title">
            <span class="main-form__caption">Ваше имя*</span>
        <input type="text" class="main-form__input">
      </label>
      <label class="main-form__label main-form__label--title">
            <span class="main-form__caption">Ваш Телефон*</span>
        <input type="text" class="main-form__input">
      </label>
      <label class="main-form__label">
            <span class="main-form__caption">Комментарий</span>
          <textarea type="text" class="main-form__textarea"></textarea>
        </label>
        <div class="main-form__send">
          <input type="submit" name="submit" value="Сохранить" class="btn btn--primary btn-reset">
        </div>
      </form>
   </div>

  </div>
</section>
