<section class="delivery">
  <div class="container">
    <h2 class="delivery__title subtitle centered">Доставки</h2>
    <div class="cart-products__blok">
      <ul class="cart-products__list list-reset grid">
        <li class="cart-products__item">
          <h3 class="cart-products__title message">Заказ N 3456</h3>
          <div class="cart-products__wrap">
            <span class="cart-products__status">в пути</span>
          </div>
          <div class="cart-products__date cart-products__date--wait">Ожидается 23 апреля</div>
          <article>
            <div class="cart-products__name">Бородинский хлебушок</div>
            <div class="cart-products__image"><img src="img/bread.png" alt=""></div>
          </article>

        </li>
        <li class="cart-products__item">
          <h3 class="cart-products__title message">Заказ N 3456</h3>
          <div class="cart-products__wrap">
            <span class="cart-products__status">готов к выдаче</span>
          </div>
          <div class="cart-products__date cart-products__date--get">Получить до 23 апереля включительно</div>
          <article>
            <div class="cart-products__name mini-title">Бородинский хлебушок</div>
            <div class="cart-products__image"><img src="img/bread.png" alt=""></div>
          </article>

        </li>
        <li class="cart-products__item">
          <h3 class="cart-products__title message">Заказ N 3456</h3>
          <div class="cart-products__wrap">
            <span class="cart-products__status">получено</span>
          </div>
          <div class="cart-products__date cart-products__date--end">Получено</div>
          <article>
            <div class="cart-products__name">Бородинский хлеб</div>
            <div class="cart-products__image"><img src="img/catalog-1.png" alt=""></div>
          </article>
          <article>
            <div class="cart-products__name mini-title">Бородинский</div>
            <div class="cart-products__image"><img src="img/bread.png" alt=""></div>
          </article>
        </li>
      </ul>
    </div>
    <div class="delivery__blok">
      <h2 class="delivery__title subtitle centered">Доставки</h2>
      <h3 class="delivery__message message">Ближайших доставок нет</h3>
    </div>
  </div>
</section>
