<section class="delivery">
  <div class="container">
    <h2 class="delivery__title centered">Доставки</h2>

    <div class="delivery-block">
      <ul class="delivery-block__list list-reset grid">
        <li class="delivery-block__item">
          <h3 class="delivery-block__order">Заказ №3</h3>
          <span class="delivery-block__status">В пути</span>
          <div class="delivery-block__date">Ожидается 23 апреля</div>
          <article class="delivery-block__article">
            <div class="article__item">
              <h4 class="delivery-block__title">Бородинский хлеб</h4>
              <div class="delivery-block__image">
                <img src="img/catalog-1.png" alt="">
              </div>
              <div class="article__item">
                <h4 class="delivery-block__title">Александровский хлеб</h4>
                <div class="delivery-block__image">
                  <img src="img/catalog-1.png" alt="">
                </div>
            </div>

          </article>

        </li>
        <li class="delivery-block__item">
          <h3 class="delivery-block__order">Заказ №3</h3>
          <span class="delivery-block__status delivery-block__status--middle">Готов к выдаче</span>
          <div class="delivery-block__date delivery-block__date--middle centered">получить до 23 апреля включительно</div>
          <article class="delivery-block__article">
            <div class="article__item">
              <h4 class="delivery-block__title">Бородинский хлеб</h4>
              <div class="delivery-block__image">
                <img src="img/catalog-1.png" alt="">
              </div>
              <div class="article__item">
                <h4 class="delivery-block__title">Александровский хлеб</h4>
                <div class="delivery-block__image">
                  <img src="img/catalog-1.png" alt="">
                </div>
            </div>

          </article>

        </li>

        <li class="delivery-block__item">
          <h3 class="delivery-block__order">Заказ №3</h3>
          <span class="delivery-block__status delivery-block__status--end">Получено</span>
          <div class="delivery-block__date delivery-block__date--end">Получено 23 апреля</div>
          <article class="delivery-block__article">
            <div class="article__item">
              <h4 class="delivery-block__title">Бородинский хлеб</h4>
              <div class="delivery-block__image">
                <img src="img/catalog-1.png" alt="">
              </div>
              <div class="article__item">
                <h4 class="delivery-block__title">Александровский хлеб</h4>
                <div class="delivery-block__image">
                  <img src="img/catalog-1.png" alt="">
                </div>
            </div>

          </article>

        </li>
        <li class="delivery-block__item">
          <h3 class="delivery-block__order">Заказ №3</h3>
          <span class="delivery-block__status">В пути</span>
          <div class="delivery-block__date">Ожидается 23 апреля</div>
          <article class="delivery-block__article">
            <div class="article__item">
              <h4 class="delivery-block__title">Бородинский хлеб</h4>
              <div class="delivery-block__image">
                <img src="img/catalog-1.png" alt="">
              </div>
              <div class="article__item">
                <h4 class="delivery-block__title">Александровский хлеб</h4>
                <div class="delivery-block__image">
                  <img src="img/catalog-2.png" alt="">
                </div>
            </div>

          </article>

        </li>

      </ul>
    </div>
  </div>
</section>
