<footer class="footer">
  <div class="container footer__container">
    <div class="footer__author">Alferova.studio.com</div>
    <nav class="nav social footer__social" title="">
      <ul class="social__list list-reset">
        <li class="social__item"><a href="#" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#odno"></use>
          </svg>
        </a></li>
        <li class="social__item"><a href="#" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a></li>
        <li class="social__item"><a href="#" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#twit"></use>
          </svg>
        </a></li>
        <li class="social__item"><a href="#" class="social__link">
          <svg>
            <use xlink:href="img/sprite.svg#what"></use>
          </svg>
        </a></li>
      </ul>
    </nav>
    <div class="menu">
      <div class="icon-close">
        <svg>
          <use xlink:href="img/sprite.svg#plus"></use>
        </svg>
      </div>
      <ul class="list-reset menu-list">
        <li class="menu-list__item"><a href="">Главная</a></li>
        <li class="menu-list__item"><a href="">События</a></li>
        <li class="menu-list__item"><a href="">Продукты</a></li>
        <li class="menu-list__item"><a href="">О нас</a></li>

      </ul>

    </div>
  </div>
</footer>
