<header class="header">
  <div class="container">
    <nav class="nav header__nav" title="">
      <ul class="nav__list header__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">
          <svg>
            <use xlink:href="img/sprite.svg#houme"></use>
          </svg>
          <span class="nav__span">Главная</span>
        </a></li>
        <li class="nav__item"><a href="#" class="nav__link">
          <svg>
            <use xlink:href="img/sprite.svg#shop"></use>
          </svg>
          <span class="nav__span">Каталог</span></a></li>
        <li class="nav__item"><a href="#" class="nav__link">
          <svg>
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
          <span class="nav__span">Корзина</span></a></li>
        <li class="nav__item"><a href="#" class="nav__link">
          <svg>
            <use xlink:href="img/sprite.svg#order"></use>
          </svg>
          <span class="nav__span">Заказы</span></a></li>
        <li class="nav__item"><a href="#" class="nav__link">
          <svg>
            <use xlink:href="img/sprite.svg#mail"></use>
          </svg>
          <span class="nav__span">Написать</span></a></li>
        <li class="nav__item"><a href="#" class="nav__link">
          <svg>
            <use xlink:href="img/sprite.svg#account"></use>
          </svg>
          <span class="nav__span">Войти</span></a></li>
      </ul>
    </nav>
  </div>
</header>
