<section class="login">
  <div class="container">
    <h2 class="user-cabinet__title title-h2">Войти или <a href="" class="cart-navigation__link"> зарегистрироваться</a></h2>
    <form action="#" class="main-form">
      <label class="main-form__label main-form__label--title">
            <span class="main-form__caption">Ваше email*</span>
        <input type="text" class="main-form__input">
      </label>
      <label class="main-form__label main-form__label--title">
            <span class="main-form__caption">Ваш Телефон*</span>
        <input type="text" class="main-form__input">
      </label>

        <div class="main-form__send">
          <input type="submit" name="submit" value="войти" class="btn btn--success btn-reset">
        </div>
      </form>
  </div>
</section>
