<section class="products">
  <div class="container products__container">
    <ul class="products__list list-reset grid">
      <li class="products__item">
        <a href="" class="products__link">
          <div class="products__image">
            <img src="img/bread.png" alt="">
          </div>
          <h3 class="products__title">Черный хлеб</h3>
          <div class="products__slogan centered">от бородинского до
            трансильванского</div>
          <div class="products__btn btn btn-reset btn--primary">перейти</div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <div class="products__image">
            <img src="img/bread.png" alt="">
          </div>
          <h3 class="products__title">Черный хлеб</h3>
          <div class="products__slogan centered">от бородинского до
            трансильванского</div>
          <div class="products__btn btn btn-reset btn--primary">перейти</div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
          <div class="products__image">
            <img src="img/bread.png" alt="">
          </div>
          <h3 class="products__title">Черный хлеб</h3>
          <div class="products__slogan centered">от бородинского до
            трансильванского</div>
          <div class="products__btn btn btn-reset btn--primary">перейти</div>
        </a>
      </li>
    </ul>
  </div>
</section>
