<section class="registration">
<div class="container">
<!-- block AFTER register -->
<div class="registration__wrap">
  <div class="registration__after">
    <h2 class="registration__subtitle subtitle">Вы зарегистрированы!</h2>
    <div class="registration__btn">
      <input type="submit" name="submit" value="войти" class="btn btn--success btn-reset">
  </div>

  </div>
</div>

<!-- block AFTER register END-->

 <!-- block FOR register-->
 <h2 class="registration__title subtitle">Регистрация на сайте</h2>
<form action="POST" class="registration__form">
  <label class="main-form__label main-form__label--title">
    <span class="main-form__caption">Имя*</span>
<input type="text" class="main-form__input" placeholder="волк">
</label>
<label class="main-form__label main-form__label--title">
  <span class="main-form__caption">Телефон*</span>
<input type="tel" class="main-form__input">
</label>
<label class="main-form__label main-form__label--title">
  <span class="main-form__caption">Пароль*</span>
<input type="text" class="main-form__input">
</label>
<label class="main-form__label main-form__label--title">
  <span class="main-form__caption">Повторите пароль*</span>
<input type="text" class="main-form__input">
</label>

<div class="main-form__send">
  <input type="submit" name="submit" value="Регистрация" class="btn btn--success btn-reset">
</div>


</form>
  <!-- block FOR register END-->
</div>
</section>
