<section class="user-cabinet-header">
  <div class="container">
    <h1 class="user-cabinet-header__title title">Личный кабинет Котобус!</h1>
    <nav class="menu-cabinet-nav" title="menu-cabinet">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Доставки</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Покупки</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Корзина</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Мои данные</a></li>
      </ul>
    </nav>
  </div>
</section>
