<section class="user-cabinet">
  <div class="container">
    <h1 class="user-cabinet__title title">Личный кабинет Котобус!</h1>
    <nav class="menu-cabinet-nav" title="menu-cabinet">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Доставки</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Покупки</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Корзина</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Мои данные</a></li>
      </ul>
    </nav>
   <div class="user-cabinet__delivery delivery">
      <article class="delivery__blok">
        <h2 class="delivery__title title-h2 centered">Доставки</h2>
        <ul class="delivery__list list-reset grid">
          <li class="delivery__item">
            <h3 class="delivery__title title-h3">Заказ N 3456</h3>
            <span class="delivery__status">в пути</span>
            <div class="delivery__date">Ожидается 23 апреля</div>
            <div class="delivery__name">Бородинский хлебушок</div>
            <div class="delivery__image"><img src="img/bread.png" alt=""></div>
          </li>
          <li class="delivery__item">
            <h3 class="delivery__title title-h3">Заказ N 3456</h3>
            <span class="delivery__status">в пути</span>
            <div class="delivery__date">Ожидается 23 апреля</div>
            <div class="delivery__name">Бородинский хлебушок</div>
            <div class="delivery__image"><img src="img/bread.png" alt=""></div>
          </li>
        </ul>
      </article>
      <article class="delivery__blok">
        <h2 class="delivery__title title-h2 centered">Доставки</h2>
        <h3 class="delivery__title title-h3">Ближайших доставок нет</h3>

      </article>

  </div>
 <div class="user-cabinet__delivery delivery">
    <article class="delivery__blok">
      <h2 class="delivery__title title-h2 centered">Покупки</h2>
      <ul class="delivery__list list-reset grid">
        <li class="delivery__item">
          <h3 class="delivery__title title-h3">Заказ N 3456</h3>

          <div class="delivery__date delivery__date--end">получено</div>
          <div class="delivery__name">Бородинский хлебушок</div>
          <div class="delivery__image"><img src="img/bread.png" alt=""></div>
        </li>
        <li class="delivery__item">
          <h3 class="delivery__title title-h3">Заказ N 3456</h3>

          <div class="delivery__date delivery__date--end">получено</div>
          <div class="delivery__name">Бородинский хлебушок</div>
          <div class="delivery__image"><img src="img/bread.png" alt=""></div>
        </li>

      </ul>
    </article>
 <article class="delivery__blok">
      <h2 class="delivery__title title-h2 centered">Покупки</h2>
      <h3 class="delivery__title title-h3">У вас еще нет покупок</h3>
      <div class="delivery__suggestion">
        <a href="">
          <span class="">В магазин</span>
          <svg>
            <use xlink:href="img/sprite.svg#ahead"></use>
          </svg>

        </a>
      </div>


    </article>

</div>
  </div>
</section>
