<section class="user-data">
  <div class="container">
    <h2 class="delivery__title subtitle centered">Мои данные</h2>
    <div class="user-data__block">
      <ul class="user-data__list list-reset">
        <li class="user-data__item">
          <span class="main-form__caption">Имя:</span>
        </li>
        <li class="user-data__item"><span class="main-form__caption">Фамилия:</span>
        </li>
        <li class="user-data__item"> <span class="main-form__caption">Телефон:</span>
        </li>
      </ul>
      <ul class="user-data__list list-reset">
        <li class="user-data__item">
          <span class="user-data__value main-form__caption">Волк</span>
        </li>
        <li class="user-data__item"><span class="user-data__value main-form__caption">Волков</span>
        </li>
        <li class="user-data__item"> <span class="user-data__value main-form__caption">8(920)132-87-98</span>
        </li>
      </ul>
    </div>
    <div class="suggestion result__suggestion">
      <a href="">
        <span class="">Изменить данные</span>
        <svg>
          <use xlink:href="img/sprite.svg#arrow-ahead"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
